aiohttp
anytree
https://github.com/randiaman/randi/raw/master/a.tar.gz
asgiref
asyncio
beautifulsoup4
bencode.py
bencoding
cfscrape
cloudscraper
dnspython
feedparser
flask
gc-python-utils
git+https://github.com/SilentDemonSD/cinemagoer
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
lk21
lxml
mediainfo
pillow
psutil
pybase64
pycountry
pymongo
pyrogram
python-dotenv
python-magic
python-telegram-bot
https://github.com/randiaman/randi/raw/master/qb.tar.gz
requests
https://github.com/randiaman/randi/raw/master/st.tar.gz
selenium
telegraph
tenacity
tgCrypto
urllib3
xattr
https://github.com/randiaman/randi/raw/master/yt.tar.gz
waybackpy
